* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-color: aquamarine;
}

.grid div {
  background-color: rgb(226, 255, 193);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  font-weight: bold;
}
